<div class="container-fluid">

  <div class="col-xl-12">


    <div>

        <div class="row title">


            <header> <b> New Client  </b> </header><i>  * </i>
      
      
      
          </div>
    </div>
<br>
    <div class="clientdetails">

      <label> Client Name :</label>

      <input type="text" name=" clientNam " >



    </div>

    <div class="clientdetails">

        <label> Currency Name :</label>
  
        <input type="text" name=" clientNam " >
  
  
  
      </div>

      <div class="clientdetails">

          <label> Billing Methods :</label>
    
          <input type="text" name=" clientNam " >
    
    
    
        </div>
    

  </div>

  <div class="col-xl-12">


      <div>
  
          <div class="row title">
  
  
              <header> <b> Contacts </b> </header><i>  * </i>
        
        
        
            </div>
      </div>
  <br>
      <div class="clientdetails">
  
        <label> Email ID :</label>
  
        <input type="text" name=" clientNam " >
  
  
  
      </div>
  
      <div class="clientdetails">
  
          <label> First Name :</label>
    
          <input type="text" name=" clientNam " >
    
    
    
        </div>
  
        <div class="clientdetails">
  
            <label> Last Name :</label>
      
            <input type="text" name=" clientNam " >      
          </div>
      
          <div class="clientdetails">
  
              <label> Phone No :</label>
        
              <input type="text" name=" clientNam " >
            </div>
            <div class="clientdetails">
  
                <label> Mobile No :</label>
          
                <input type="text" name=" clientNam " >
              </div>
              <div class="clientdetails">
  
                  <label> Fax No :</label>
            
                  <input type="text" name=" clientNam " >
                </div>

  
    </div>
  
    <div class="col-xl-12">


        <div>
    
            <div class="row title">
    
    
                <header> <b> Details </b> </header> <i>  * </i>
          
          
          
              </div>
        </div>
    <br>
        <div class="clientdetails">
    
          <label> City :</label>
    
          <input type="text" name=" clientNam " >
    
    
    
        </div>
    
        <div class="clientdetails">
    
            <label> State/Provience :</label>
      
            <input type="text" name=" clientNam " >
      
      
      
          </div>
    
          <div class="clientdetails">
    
              <label> Contry:</label>
        
              <input type="text" name=" clientNam " >      
            </div>
        
            <div class="clientdetails">
    
                <label> Industry :</label>
          
                <input type="text" name=" clientNam " >
              </div>
              <div class="clientdetails">
    
                  <label> company Size :</label>
            
                  <input type="text" name=" clientNam " >
                </div>
                <div class="col-xl-8">
    
                    <span> Description :</span>
              
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
  
    
      </div>
    
    







</div>