<mat-card>
<div>


  <section>
    <article>

        <table class="table table-striped">
            
              <tr>
                <td class="default"> <b> First Name </b>: </td>
                <td class="dynamic">  Otto </td>
                
              </tr>
              <tr>
                <td class="default"> <b> Last Name </b>:</td>
                <td>Thornton</td>
                
              </tr>
              <tr>
                <td class="default"> <b> Employee ID </b>: </td>
                <td>the Bird</td>
                
              </tr>
              <tr>
                  <td class="default"> <b> Email ID </b>:</td>
                  <td>the Bird</td>
                
                </tr>
                <tr>
                    <td class="default"> <b> Department </b>: </td>
                    <td>the Bird</td>
                    
                  </tr>
                  <tr>
                      <td class="default"> <b> Reporting To </b>: </td>
                      <td>the Bird</td>
                      
                    </tr>
                    <tr>
                        <td class="default"> <b>  Source Of Hire </b>: </td>
                        <td>the Bird</td>
                       
                      </tr>
                      <tr>
                          <td class="default"> <b> Job location </b>: </td>
                          <td>the Bird</td>
                         
                        </tr>
                        <tr>
                            <td class="default"> <b> Date of Joining </b>:</td>
                            <td>the Bird</td>
                           
                          </tr>
                          <tr>
                              <td class="default"> <b> Employee Status </b>: </td>
                              <td>the Bird</td>
                              
                            </tr>
                            <tr>
                                <td class="default"> <b> Role </b>:</td>
                                <td>the Bird</td>

                              </tr>
                              <tr>
                                  <td class="default"> <b> Employee Type </b>: </td>
                                  <td>the Bird</td>
                                </tr>
                                <tr>
                                    <td class="default"> <b> Experience </b>: </td>
                                    <td>the Bird</td>
                                  </tr>

                                  <tr>
                                      <td class="default"> <b> Mobile No </b>:</td>
                                      <td>the Bird</td>
                                    </tr>
    
                                    <tr>
                                        <td class="default"> <b> Other Email </b>:
                                          </td>
                                        <td>the Bird</td>
                                      </tr>
      
                                      <tr>
                                          <td class="default"> <b> Date of Birth </b>: </td>
                                          <td>the Bird</td>
                                        </tr>
        
                                        <tr>
                                            <td class="default"> <b> Marital Status </b>: </td>
                                            <td>the Bird</td>
                                          </tr>
          
                                          <tr>
                                              <td class="default"> <b> Age </b>: </td>
                                              <td>the Bird</td>
                                            </tr>
            
                                            <tr>
                                                <td class="default"> <b> Address </b>:</td>
                                                <td >the Bird</td>
                                              </tr>

                                              <tr>
                                                  <td class="default"> <b> User Name </b>: </td>
                                                  <td >the Bird</td>
                                                </tr>
                
                                                <tr>
                                                    <td class="default"> <b> Password </b>: </td>
                                                    <td >the Bird</td>

                                                  </tr>

                                                  
                                                    

            </tbody>
          </table>

    </article>

        <figure>

        <img src="assets/linkbiz.jpg" />


    </figure>


    </section>


  </div>

  </mat-card>
