<div class="container-fluid">

  <div class="col-xl-12">

    <div class="row">


      <div class="col-xl-3">



        <div class="card mat-elevation-z8 " style="width: 18rem;">
          <div class="card-body">

            <div >

              <div class="col-xl-12">
                <!-- <div class="progress blue">
                  <span class="progress-left">
                    <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                    <span class="progress-bar"></span>
                  </span> -->

                  <!-- <div align="center"  counto step="10" [countTo]="toNumber" countFrom="0" duration="4" > 
               
                 <h2 style="font-size:30px;">     {{counto}} </h2> 
                    
                    </div>
                   -->
<div align="center">
                    <h2 class="counter-count" id="count" > <b> 500 </b>
                     </h2>/ 500

                  </div>
                <!-- </div> -->
              </div>
              <div class="col-xl-12" align="center" >
                 <h5 class="card-subtitle mb-2 "> Employee </h5>
               <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>-->
                <!-- <button class="button" mat-button>
                  <strong> Employee </strong>
                </button> -->
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-3">



        <div class="card mat-elevation-z8" style="width: 18rem;">
          <div class="card-body">

            <div >

              <div class="col-xl-12">
                <!-- <div class="progress blue">
                  <span class="progress-left">
                    <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                    <span class="progress-bar"></span>
                  </span> -->
                  <!-- <div align="center" counto [step]="30" countTo="25" [countFrom]="0" [duration]="4" (countoChange)="counto = $event" (countoEnd)="onCountoEnd()"> 
               
                      <h2 style="font-size:30px;">     {{counto | currency:'EUR':'symbol':'1.2-2'}} </h2> 
                         
                         </div> -->

                         <div align="center">
                          <h2 class="counter-count" id="count3" > <b>  400 </b> </h2>/ 500
      
                        </div>

                <!-- </div> -->
              </div>

              <div class="col-xl-12" align="center">
                  <h5 class="card-subtitle mb-2 ">  TimeSheet  </h5>
                 <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>-->
                <!-- <button class="button" mat-button>
                  <strong> TimeSheet </strong>
                </button> -->
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-3">



        <div class="card mat-elevation-z8" style="width: 18rem;">
          <div class="card-body">

            <div>

              <div class="col-xl-12">
                <!-- <div class="progress blue">
                  <span class="progress-left">
                    <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                    <span class="progress-bar"></span>
                  </span> -->
                  <!-- <div align="center" counto  [step]="30" countTo="20" [countFrom]="0" [duration]="4" (countoChange)="counto = $event" (countoEnd)="onCountoEnd()"> 
               
                      <h2 style="font-size:30px;">     {{counto | currency:'EUR':'symbol':'1.2-2'}} </h2> 
                         
                         </div> -->


                         <div align="center">
                          <h2 class="counter-count" id="count2" > <b> 250 </b></h2>/500
      
                        </div>


                <!-- </div> -->
              </div>

              <div class="col-xl-12" align="center">
                  <h5 class="card-subtitle mb-2 ">  Reports  </h5>
                   <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>-->
                <!-- <button class="button" mat-button>
                  <strong> Reports </strong>
                </button> -->
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- <div class="col-xl-3">



        <div class="card mat-elevation-z8" style="width: 18rem;">
          <div class="card-body">

            <div class="row">

              <div class="col-xl-5">
                <!-- <img src="http://linkbiz-demo.com/assets/images/logo.png"> -->
                <!-- <div class="progress blue">
                  <span class="progress-left">
                    <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                    <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">90%</div>
                </div>
              </div>

              <div class="col-xl-7"> -->
                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="card-link">Card link</a>-->
                <!--<button mat-button class="button">
                  <strong> Example </strong>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div> -->

      <div class="col-xl-3">



          <div class="card mat-elevation-z8" style="width: 18rem;">
            <div class="card-body">
  
              <div>
  
                <div class="col-xl-12">
                  <!-- <div class="progress blue">
                    <span class="progress-left">
                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                      <span class="progress-bar"></span>
                    </span> -->
                    <!-- <div align="center" counto [step]="30" countTo="20" [countFrom]="0" [duration]="4" (countoChange)="counto = $event" (countoEnd)="onCountoEnd()"> 
                 
                        <h2 style="font-size:30px;">     {{counto | currency:'EUR':'symbol':'1.2-2'}} </h2> 
                           
                           </div> -->

                           <div align="center">
                            <h2 class="counter-count" id="count1" ><b> 10 </b></h2>/500
        
                          </div>


                  <!-- </div> -->
                </div>
  
                <div class="col-xl-12" align="center">
                    <h5 class="card-subtitle mb-2 ">  Reports  </h5>
                     <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="card-link">Card link</a>-->
                  <!-- <button class="button" mat-button>
                    <strong> Reports </strong>
                  </button> -->
                </div>
              </div>
            </div>
          </div>
  
        </div>







    </div>
<br>
<br>
<div class="row">

  <div class="col-xl-6"> 


    <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource">
      
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef>  S.No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Project </mat-header-cell>
            <mat-cell *matCellDef="let element"> <button mat-button data-toggle="modal" data-target="#exampleModalCenter"> {{element.name}} </button> </mat-cell>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef> Percentage </mat-header-cell>
            <mat-cell *matCellDef="let element">  {{element.weight}}  </mat-cell>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef> project Manager </mat-header-cell>
            <mat-cell *matCellDef="let element"> <button mat-button> {{element.symbol}} </button> </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      
        <mat-paginator #paginator
                       [pageSize]="6"

                       [showFirstLastButtons]="true">
        </mat-paginator>

                               <!-- [pageSizeOptions]="[5, 10, 20]" -->

      </div>
      


    </div>


    <div class="col-xl-6">

        <div class="card graphcard">

            <div class="card-body">

              <div class=" mat-elevation-z8">
              <canvas id="lineChart"></canvas>
            </div>
            </div>

          </div>








    </div>









</div>


<br>










<div style="margin-top:10%;" >

    <div class="row">

      <div class="col-xl-4">

      <div class="card" style="width: 28rem;">
        <div class="card-body">

          <div class="row">

              <div style="margin-top:-25%">

                  <img src="assets/graph2.JPG" width="400" >
                 
                
                
                </div>  

            <div class="col-xl-7">
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>-->
              <button mat-button>
                <strong> Employee </strong>
              </button>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="col-xl-4">

        <div class="card" style="width: 28rem;">
          <div class="card-body">
  
            <div class="row">
  
                <div style="margin-top:-25%">

                    <img src="assets/graph3.JPG" width="400" >
                   
                  
                  
                  </div>    
              <div class="col-xl-7">
                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>-->
                <button mat-button>
                  <strong> Employee </strong>
                </button>
              </div>
            </div>
          </div>
        </div>
  
  
      </div>
      <div class="col-xl-4">

          <div class="card" style="width: 28rem;">
            <div class="card-body">
    
<div style="margin-top:-25%">

  <img src="assets/graph4.JPG" width="400" >
 


</div>    

    
                <div class="col-xl-7">
                  <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="card-link">Card link</a>-->
                  <button mat-button>
                    <!-- <strong> Employee </strong> -->
                  </button>
              </div>
            </div>
          </div>
    
    
        </div>






    </div>





  </div> 












  </div>







</div>




  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card graphcard">

                <img src="assets/graph2.JPG" width="400" >
                 
    
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- <div>


    <div counto [step]="30" [countTo]="10" [countFrom]="0" [duration]="4" (countoChange)="counto = $event" (countoEnd)="onCountoEnd()">{{counto | currency:'EUR':'symbol':'1.2-2'}}</div>


  </div> -->

